@import "tailwindcss";
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --breakpoint-2xs: 240px;
  --color-primary: #fd5c63;
  --color-background: var(--background);
  --color-background-contrast: #2c2c2c;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
:root {
  --primary: #fb5b63;
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* button anims */

.side-animate {
  display: inline-block;
  color: black;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--primary);
    transition: all .3s;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

/* .ripple-btn {
  position: relative;
  overflow: hidden;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.ripple-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease, height 0.4s ease;
  z-index: 0;
}

.ripple-btn:hover {
  background-color: var(--primary);
  color: white;
}

.ripple-btn:hover::after {
  width: 300%;
  height: 300%;
}

.ripple-btn span {
  position: relative;
  z-index: 1;
} */

.rotate-child-div:hover>div {
  animation: spin-once 0.8s ease-out forwards;
}

.rotate:hover {
  animation: spin-once 0.8s ease-out forwards;
}

.neon-text {
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

.neon-hover-text:hover {
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  }

  100% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
}

@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 991px) {
  .customized-timeline .p-timeline-event:nth-child(even) {
    flex-direction: row !important;
  }

  .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
    text-align: left !important;
  }

  .customized-timeline .p-timeline-event-opposite {
    flex: 0;
  }

  .customized-timeline .p-card {
    margin-top: 1rem;
  }
}