@import "tailwindcss";
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --breakpoint-2xs: 240px;
  --color-primary: #fd5c63;
  --color-background: var(--background);
  --color-background-contrast: #2c2c2c;
  --color-background-light: #4b4b4b;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
:root {
  --color-background-light: #4b4b4b;
  --primary: #fb5b63;
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* button anims */

.side-animate {
  display: inline-block;
  color: black;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--primary);
    transition: all .3s;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

.rotate-child-div:hover>div {
  animation: spin-once 0.8s ease-out forwards;
}

.rotate:hover {
  animation: spin-once 0.8s ease-out forwards;
}

.neon-text {
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

.neon-hover-text:hover {
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

.white-aura {
  animation: aura-glow 2s infinite ease-in-out;
}

.p-dialog-header, .p-dialog-content{
  background: var(--color-background-contrast);
}

.p-dialog-header{
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.p-dialog-content{
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
	color: #000000;
	background: #f3f4f6;
	border-color: none;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled {
	color: black;
	background: var(--color-background-light);
	border-color: none;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link, .p-accordion .p-accordion-content, .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled) .p-accordion-header-link{
  background-color: var(--color-background-contrast);
  color: white;
  border: none;
}


@keyframes aura-glow {
  0%, 100% {
    box-shadow: 0 0 7px 2px rgba(255,255,255,0.4);
  }
  50% {
    box-shadow: 0 0 10px 8px rgba(255,255,255,0.4);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  }

  100% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
}

@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 991px) {
  .customized-timeline .p-timeline-event:nth-child(even) {
    flex-direction: row !important;
  }

  .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
    text-align: left !important;
  }

  .customized-timeline .p-timeline-event-opposite {
    flex: 0;
  }

  .customized-timeline .p-card {
    margin-top: 1rem;
  }
}

@media (max-width: 48rem) {
  .p-timeline-event-opposite {
    display: none !important;
  }
  .p-timeline-event-content{
    padding: 0;
  }
}